.done {
    transition: background-color 0.4s ease, border-color 0.4s ease,
                color 0.4s ease, border-color 0.4s ease;
    background-color: #ff5b00;
    color: white;
}

.b-checkbox.checkbox input[type="checkbox"]:checked + .check {
    background-color: transparent;
    border: none;
}
